- title_with_sitename "编辑我的信息"
.span-9
  .login-box
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = f.label :user_name
      = f.text_field :user_name, :disabled => true
      = f.label :email
      = f.email_field :email, :disabled => true
      = f.label :password
      %i (不填此项将不更改密码)
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.label :current_password
      %i (更新信息前需要提供原密码)
      = f.password_field :current_password
      = f.submit "Update"

.span-9.last
  .login-tools
    = render :partial => "devise/shared/links"
    = #link_to "注销我的账号", registration_path(resource_name), :confirm => "确认删除你的账号？", :method => :delete

