= form_for [product, comment], :remote => true, :validate => true do |f|
  = f.label :title
  = f.text_field :title, :maxlength => 100
  = f.label :comment
  = f.text_area :comment, :maxlength => 500
  %br/
  = f.submit :disable_with => "正在提交..."
= content_for :script do
  = javascript_include_tag "client_validation/rails.validations.js"

