!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "yobi"
    = stylesheet_link_tag "admin/application"
    = javascript_include_tag "admin/application"
    = yield(:script)
    = csrf_meta_tags
  %body
    #header
      #global_links= admin_user_links
      %h1= link_to image_tag("/images/yobi.gif"), admin_root_path
      #tabs= render "admin/shared/tabs"
    #main
      #left
        - flash.each do |key,msg|
          = content_tag :div, msg, :id => "flash_#{key}"
        %h2.head= content_for?(:title) ? yield(:title) : "yobi"
        #screen
          = yield
      #right= yield_or_partial(:sidebar, yield(:sidebar))
    #footer
      footer

