#news
  .head 最新动态
  .body
    %ul
      %li= "友比第一波超强促销开始！"
      %li= "友比第一波超强促销开始！"
      %li= "友比第一波超强促销开始！"
      %li= "友比第一波超强促销开始！"
      %li= "友比第一波超强促销开始！"
      %li= "友比第一波超强促销开始！"
      %li= "友比第一波超强促销开始！"

