- if action_name.downcase == "edit"
  %p.float_right
    = link_to "查看", admin_product_path(@product), :class => "button"
    = link_to "删除", admin_product_path(@product), :method => :delete, :confirm => "Are you sure?", :class => "negative button"
.form
  = nested_form_for [:admin, @product] do |f|
    -if @product.errors.any?
      #error_explanation
        %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
        %ul
          - @product.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :elite
      = f.check_box :elite
    .field
      = f.label :category
      = f.select :category_id, @categories
    .field
      = f.label :retail_price
      = f.text_field :retail_price
    .field
      = f.label :present_price
      = f.text_field :present_price
    .field
      = f.label :stock_count
      = f.text_field :stock_count
    .field
      = f.label :properties
      .properties
        = f.fields_for :properties do |p|
          = render "admin/properties/form", :p => p
      %br/
      .add_link= f.link_to_add "添加属性", :properties
    .field
      = f.label :description
      = f.text_area :description, :id => "kindeditor_id"
      #image_upload
    .actions
      = f.submit
      或者
      = link_to "返回", admin_products_path

= uploadify_and_kindeditor_js

