%tr{:class => cycle(:even, :odd)}
  %td= link_to product.name, admin_product_path(product)
  - unless product.category.nil?
    %td= link_to product.category.name, admin_category_path(product.category)
  - else
    %td 目录已被删除
  %td= show_money(product.present_price)
  %td= product.discount
  %td= product.stock_count
  %td
    = link_to "编辑", edit_admin_product_path(product), :class => "pill button"
    = link_to "评论", admin_product_comments_path(product), :class => "pill positive button"
    = link_to "删除", admin_product_path(product), :method => :delete, :confirm => "确定删除吗？", :class => "pill negative button"

