- title "产品管理"
%p

  %table.table
    %tbody
      %tr
        %th= sort_link @search, :name
        %th= sort_link @search, :category_name
        %th= sort_link @search, :present_price
        %th= sort_link @search, :discount
        %th= sort_link @search, :elite
        %th{:width => "150"} 操作
      = render @products
  #page= paginate @products

