- title @product.name
= uploadify_js(@product)
.float_right
  = link_to "编辑", edit_admin_product_path(@product), :class => "button"
  = link_to "返回", admin_products_path, :class => "button"
= div_for @product do
  .info
    .title 产品目录
    .content
      .attr= category_and_ancestors_path(@product.category)
  .info
    .title 产品信息
    .content
      .attr= "产品名称：#{@product.name}"
      .attr= "产品编号：#{@product.stock_number}"
      .attr= "是否推荐：#{@product.elite ? "<span class='red'>是</span>" : "否"}".html_safe
      .attr= "零售价格：#{show_money(@product.retail_price)}"
      .attr= "友比价格：#{show_money(@product.present_price)}"
      .attr= "产品销量：#{@product.quantity}"
      .attr= "库存数量：#{@product.stock_count}"
  .info
    .title 产品属性
    .content
      .attr= render @product.properties
  .info
    .title 产品标签
    .content
      .attr= @product.tags_text
  .info
    .title 展示图片
    #images.content
      = render @product.images
  #image_upload
  .info
    .title 详细介绍
    .content
      .attr= @product.description.html_safe

= include_lightbox_js

