.slide_panel
  .slide_panel_left
  .slide_panel_content= render :partial => "products/product_elite", :collection => @elite_products, :as => :product
  .slide_panel_right
  .slide_book_icon
.category_filter
  .btn_filter
    .search_tip 排序：
    = show_order_icon_link(:q, "销量", false, @category)
    = show_order_icon_link(:p, "价格", true, @category)
    = show_order_icon_link(:d, "折扣", false, @category)
    = show_order_icon_link(:a, "最新上架", false, @category)
  .view_style
    浏览模式：
    = show_view_style_icon_links(@category)
= render_products_by_view_style(@products)
#page= paginate @products

