= div_for product do
  = product.name
  = product.description
  = link_to 'Show', product
  = link_to 'Edit', edit_product_path(product)
  = link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

