- title @product.name
#product
  %h3= @product.name
  .span-9
    - if @product.major_image.nil?
      = image_tag "/images/no-pic.png", :size => "320x320"
    - else
      = image_tag @product.major_image.image.url, :size => "320x320"
    .more_images
      = render @product.images, :title => @product.name
      .note 说明：点击小图片可以查看原图
  .span-9.last
    .span-8.column= "友比价格：<span class='big red bold'>#{show_money(@product.present_price)}</span>".html_safe
    .span-8.column= "零售价格：<span class='off'>#{show_money(@product.retail_price)}</span>".html_safe
    .span-8.column= "折扣比例：#{((@product.present_price/@product.retail_price)*100).to_i} 折"
    .span-8.column= "库存数量：#{@product.stock_count}"
    .span-9.line
    - unless @product.properties.empty?
      .span-9
        .properties-title 产品属性
        .properties= render @product.properties
  .span-18.last
    .relation-title 最佳拍档
    .relation
  #product-description.span-18.last
    %ul.tab_title
      %li.current
        %span 产品详情
      %li= link_to "用户评价", "#product-comments"
  .span-18.last.top-margin-5
    .description= @product.description.html_safe
  #product-comments.span-18.last
    %ul.tab_title
      %li= link_to "产品详情", "#product-description"
      %li.current
        %span 用户评价
  .span-18.last.top-margin-5
    #comments= render @product.comments
  - if user_signed_in?
    .span-18.last.top-margin-5
      = render "comments/form", :product => @product, :comment => Comment.new
= content_for :script do
  = javascript_include_tag "lightbox/jquery.lightbox.min.js"

