%ul
  %li.float_right= tab_to "设 置", "settings"
  %li= tab_to "首 页", "home"
  %li= tab_to "分 类", "categories"
  %li= tab_to "产 品", "products"
  %li= tab_to "文 章", "articles"
  %li= tab_to "用 户", "users"

