%ul
  %li.float_right= tab_to "设 置", [{:controller => "admin/settings"}]
  %li= tab_to "首 页", [{:controller => "admin/home"}]
  %li= tab_to "分 类", [{:controller => "admin/categories"}]
  %li= tab_to "产 品", [{:controller => "admin/products"}]
  %li= tab_to "文 章", [{:controller => "admin/articles"}]

