!!!
%html
  %head
    %title Yobi
    = stylesheet_link_tag "application"
    /[if lt IE 8]
      = stylesheet_link_tag "blueprint/ie.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  .container
    .span-24
      #top-nav
        = link_to "categories", admin_categories_path
    .span-4
      #logo
        %h1 51yobi
    .span-20.last
      #search Search
    .span-24
      %ul.tabs
        - 15.times do |i|
          %li= link_to "Tab #{i}", root_path
    .span-6
      #sidebar sidebar
    .span-18.last
      #content
        = yield
    .span-24
      #footer footer

