!!!
%html
  %head
    %title= show_title? ? yield(:title) : Settings.site.title
    = stylesheet_link_tag "application.css"
    /[if lt IE 8]
      = stylesheet_link_tag "blueprint/ie.css"
    = javascript_include_tag :defaults, :cache => "main"
    = yield(:script)
    = csrf_meta_tag
  .container
    .span-24= render "shared/top_user_tools"
    .span-24
      #logo
        %h1= link_to image_tag("/images/Yobi-logo.png"), root_path
      #tabs=show_tabs(@root_categories)
    .span-24= render "shared/tabs_tools"
    .span-6= render "shared/sidebar"
    .span-18.last.top-margin-5
      - flash.each do |key,msg|
        = content_tag :div, msg, :class => key
    .span-18.last= show_nav_path
    - if controller_name == "home" && action_name == "index"
      .span-12= render "shared/slides"
      .span-6.last= render "shared/articles"
    .span-18.last= yield
    .span-24= render "shared/footer"

